geoclip
geopandas==0.14.3
geopy==2.4.1
ipython==8.12.3
jsonschema==4.21.1
matplotlib==3.8.3
nbformat==5.10.4
numpy==1.24.3
pandas==2.2.2
Pillow==10.3.0
pytest==8.2.0
rai_test_utils==0.4.2
raiutils==0.4.0
scikit_learn==1.4.1.post1
scipy==1.13.0
setuptools==68.2.2
Shapely==2.0.4
sphinx_rtd_theme==2.0.0
tensorflow==2.16.1
torch==2.2.2
torchvision==0.17.2
tqdm==4.66.0
transformers==4.39.2
